/* ChatBox.css */

.appwrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background: url(../assets/bg.jpg);
    background-size: cover;
    
}

.chatboxcontainer {
    
    display: flex;
    width: 100vw;
    align-self: baseline;
    border: 5px black;
    /* Take the whole width of the viewport */
}

.channelssection {
    flex: 1;
    border-right: 4px solid #ccc;
    padding: 10px;
    overflow-y: auto;
    /* Enable scrolling */
    max-height: calc(100vh - 20px);
    /* Take the full height of the viewport minus some space */
}
.channelssection h2 {
    margin-top: 5%;
    margin-bottom: 3%;
   
}
.channelssection p {
    margin-bottom: 5%;

}

.channellist {
    display: flex;
    flex-direction: column;
}

.channel {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.channel:hover {
    background-color: #eee;
}

.channel.active {
    background-color: #ddd;
}

.chatsection {
    flex: 2;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 20px);
    /* Take the full height of the viewport minus some space */
}

.channelname {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.chatcontainer {
    flex: 1;
    overflow-y: auto;
    /* Enable scrolling */
    padding: 10px;
}

.chatmessage {
    margin-bottom: 10px;
}

.messageinput {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: transparent;
}

.messageinput input {
    flex: 1;
    padding: 8px;
    margin-right: 10px;
}

.messageinput button {
    background-color: #000000;
    color: #ffffff;
    padding: 8px;
    margin-bottom: 7px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.messageinput button:hover {
    background-color: #333333;
    border-radius: 30px;

}