/* CreateProject.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* Adjusted to be below the top */
   
    font-family: "Poppins", sans-serif;
        -webkit-font-smoothing: antialiased;
        -mox-osx-font-smoothing: grayscale; justify-content: center;
        align-items: center;
        
        background: url(../assets/bg.jpg);
        background-size: cover;
        background-repeat: repeat-y;
        overflow-y:scroll;
        max-height : calc(100vh - 30px);
       
}

.createprojectbox {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 10px;
    width: 450px;
   
    background: transparent;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(270px);
    color:#fff;
    border-radius: 10px;
    margin-top: 10%;
    margin-bottom: 5%;
    
    
}

.inputgroup {
    margin-bottom: 2px;
    padding-right: 2px;
    width: 370px;
}
.inputgroup textarea {
    margin-bottom: 5px;
    max-width: 370px;
    
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #000;
    border-radius: 5px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
}

.tag {
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    position: relative;
}

.removeicon {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
}

.addicon {
    cursor: pointer;
    font-size: 20px;
    margin-left: 5px;
    color: #000;
}

.photos {
    display: flex;
    flex-wrap: wrap;
}

.photo {
    margin-right: 5px;
    margin-bottom: 5px;
}

.photo img {
    max-width: 100px;
    max-height: 100px;
}

.createbutton {
    background-color: #000;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.createbutton:hover {
    background-color: #555;
}