@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/*body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
*/

.logotext {
    font-size: 80px;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-style: italic;
    letter-spacing: 2px;

}
.slogan{
    color: #fff;
    font-family: "Poppins", sans-serif;
        font-style: italic;
        
}
.logotextpart{
    height: 100px;
}

.imagecontainer {
    display: flex;
    /* or use 'display: grid;' */
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    height: 250px;
    /* Set a fixed height for the container */
}

.imagecontainer img {
    max-width: 50%;
    /* Ensure the image doesn't exceed its container */
    max-height: 50%;
    /* Ensure the image doesn't exceed its container */
}

.imagesqr {
    margin-top: 140px;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-row: 2fr 2fr;
    max-height: 100px;
    margin-left: 205;
}

.box1,
.box2,
.box3 {
    
   
    background-color: rgba(255, 255, 255, 0.8);
    font-family: "Poppins", sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin:4%;
    justify-self: center;
    text-align: center;

    
}

.descriptionBox {
    /* New class for styling the description boxes */
    background-color: rgba(255, 255, 255, 0.8);
    
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    justify-content: center;
}
.descriptionBox:hover {
    transform: scale(1.05);
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    /* Adjust the scale factor as needed for zoom effect */
    box-shadow: 0px 0px 7px 0px #999999;
    /* Add shadow on hover, adjust as needed */
}

.descriptionBox h2{
   margin-bottom: 2%;
}


.mainroot {
    -webkit-font-smoothing: antialiased;
    -mox-osx-font-smoothing: grayscale;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../assets/bgnew.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

.copyright {
    position: absolute;
    bottom: 5px;
    /* Adjust as needed */
    left: 10px;
    /* Adjust as needed */
    color: white;
    /* Adjust text color */
}