.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgba(51, 51, 51, 0.8);
    /* Navbar background color */
    color: white;
    /* Text color */
}

.navbarleft {
    flex: 1;
    /* Take up remaining space */
}

.navbarright a {
    /* Add spacing between links */
    text-decoration: none;
    /* Remove underline from links */
    color: white;
    /* Text color */
    padding-right: 2rem;
    justify-content: space-around;
}

.logo {
    font-weight: bold;
    font-size: 1.5rem;
    padding-left: 1.5rem;
    /* Adjust font size as needed */
}