.profilesection{
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    height: 92vh;
    width: 100%;
    display: grid;
}
.leftsection{
    grid-area: 1/1/3/2;
    background-color: aqua;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px;

}
.rightsection1{
    grid-area: 1/2/2/3;
    background-color: blue;
}
.rightsection2{
    grid-area: 2/2/3/3;
    background-color: blueviolet;
}